name: Run Tests

on:
  push:
    branches:
      - main  # Ejecutar al hacer push a la rama main
  pull_request:
    branches:
      - main  # Ejecutar en solicitudes de pull

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # Permiso para escritura en los contenidos del repositorio

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install dependencies
      run: |
        npm install

    - name: Run tests
      run: npm test
